* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}
.marvel-app {
  width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Roboto', Arial, sans-serif;
	background-color: #262949;
	min-height: 100vh;
}

.hero-container {
  width: 100%;
  margin-bottom: 30px;
  text-align: center;
	background-color: #262949;
}

.hero-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.title{
	margin-top: -20px;
	margin-bottom: 15px;
}

.characters-container {
  display: flex;
  gap: 30px;
	background-color: #262949;
}

.characters-list {
  flex: 1;
  min-width: 200px;
}

.characters-list ul {
  list-style: none;
  padding: 0;
}

.characters-list li {
  margin-bottom: 8px;
  padding: 8px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.characters-list li:hover {
  background-color: #f2f2f2;
}

.characters-list a {
  color: #e23636; 
  text-decoration: none;
  display: block;
}

.character-details {
  flex: 2;
	height: auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	overflow: auto;
}

.character-image {
  max-width: 100%;
  height: auto;
	max-height: 60vh;
  border-radius: 4px;
  margin-bottom: 15px;
}

h1 {
  color: #e23636;
  text-align: center;
  margin-bottom: 30px;
}

h2 {
  color: #e23636;
  margin-top: 0;
}

p {
  line-height: 1.6;
}

/* Por padrão, oculta a versão mobile */
.mobile-character-detail {
  display: none;
}

/* Ativa apenas em telas pequenas */
@media (max-width: 768px) {
  .characters-container {
    flex-direction: column;
  }
  
  .characters-list {
    max-width: 100%;
    margin-bottom: 20px;
  }
  
  /* Oculta o detalhe lateral em telas pequenas */
  .characters-container > .character-details {
    display: none;
  }
  
  /* Mostra o detalhe mobile abaixo do nome */
  .mobile-character-detail {
    display: block;
    padding: 10px;
    margin-top: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
  }
  
  .mobile-character-detail h2 {
    margin-bottom: 10px;
  }
  
  .mobile-character-detail .character-image {
    max-width: 100%;
    height: auto;
    max-height: 40vh;
    object-fit: contain;
  }
}